*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/ocw_site/about filter=lfs diff=lfs merge=lfs -text
/ocw_site/contact filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/download filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/exam4_review filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec1 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec10 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec11 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec12 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec13 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec14 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec15 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec16 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec18 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec19 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec2 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec20 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec21 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec22 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec23 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec24 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec25 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec26 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec28 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec29 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec3 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec30 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec31 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec32 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec34 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec35 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec36 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec37 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec38 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec4 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec5 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec6 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec7 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/resources/lec9 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01-single-variable-calculus-fall-2006/video_galleries/video-lectures filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01sc-single-variable-calculus-fall-2010/download filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01sc-single-variable-calculus-fall-2010/pages/final-exam filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01sc-single-variable-calculus-fall-2010/pages/syllabus filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01sc-single-variable-calculus-fall-2010/resources/mit18_01scf10_ses18c filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-01sc-single-variable-calculus-fall-2010/resources/mit18_01scf10_ses19a filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-06-linear-algebra-spring-2010/download filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-065-matrix-methods-in-data-analysis-signal-processing-and-machine-learning-spring-2018 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-06sc-linear-algebra-fall-2011 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/18-085-computational-science-and-engineering-i-fall-2008 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-001-calculus-fall-2023/download filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/download filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/pages/related-resources filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_big_picture_calculus filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_chains_fgx_chain_rule filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_der_sin_x_and_cos_x filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_differential_equations_growth filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_differential_equations_motion filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_growth_rate_log_graphs filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_inverse_functions_logarithms filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_limits_continuous_functions filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_linear_approx_newtons_method filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_paper_3 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_power_series_eulers_formula filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_product_rule_quotient_rule filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/resources/mitres18_05s10_sixfunc_sixrules_sixtheo filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/video_galleries/derivatives filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-005-highlights-of-calculus-spring-2010/video_galleries/highlights_of_calculus filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-009-learn-differential-equations-up-close-with-gilbert-strang-and-cleve-moler-fall-2015 filter=lfs diff=lfs merge=lfs -text
/ocw_site/courses/res-18-010-a-2020-vision-of-linear-algebra-spring-2020 filter=lfs diff=lfs merge=lfs -text
/ocw_site/educator filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/ocw_site/pages/get-started filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
